{% extends "layout_unbranded.html" %}

{% block page_title %}
Service Area
{% endblock %}

{% block content %}

<%- serviceAreas[0].id %>
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/incident-description">Back</a>

            <form class="form" action="/incident-location" method="post">

                <div class="form-group">
                    <fieldset>

                        <legend>
                            <h1 class="heading-medium">
                                In which service area did the incident occur?
                            </h1>
                        </legend>

                        <% serviceAreas.forEach(function(serviceArea) { %>
                            <div class="multiple-choice">
                                <input id="<%= serviceArea.id %>" type="radio" name="service-area" value="<%= serviceArea.id %>">
                                <label for="<%= serviceArea.id %>"><%= serviceArea.name %></label>
                            </div>
                        <% }); %>

                        <div class="multiple-choice">
                            <input id="service-area-acute" type="radio" name="service-area" value="acute">
                            <label for="service-area-acute">Acute</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="service-area-ambulance-trust" type="radio" name="service-area" value="ambulance trust">
                            <label for="service-area-ambulance-trust">Ambulance Trust</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="service-area-community-nursing" type="radio" name="service-area" value="community nursing">
                            <label for="service-area-community-nursing">Community Nursing</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="service-area-care-home" type="radio" name="service-area" value="care home">
                            <label for="service-area-care-home">Care Home</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="service-area-dental-practice" type="radio" name="service-area" value="dental practice">
                            <label for="service-area-dental-practice">Dental Practice</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="service-area-community-hospital" type="radio" name="service-area" value="community hospital">
                            <label for="service-area-community-hospital">Community Hospital</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="service-area-community-pharmacy" type="radio" name="service-area" value="community pharmacy">
                            <label for="service-area-community-pharmacy">Community Pharmacy</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="service-area-general-practice" type="radio" name="service-area" value="general practice">
                            <label for="service-area-general-practice">General Practice</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="service-area-social-care" type="radio" name="service-area" value="social care">
                            <label for="service-area-social-care">Social Care</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="service-area-screening-service" type="radio" name="service-area" value="screening service">
                            <label for="service-area-screening-service">Screening Service</label>
                        </div>
                        <p class="form-block">or</p>
                        <div class="multiple-choice">
                            <input id="service-area-not-known" type="radio" name="service-area" value="not known">
                            <label for="service-area-not-known">Not Known</label>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
